providers:
  aws-east-private-ips:
    # Set up the location of the salt master
    #
    minion:
      master: {{ pillar['salt_master_hostname'] }}

    # Specify whether to use public or private IP for deploy script.
    #
    # Valid options are:
    #     private_ips - The salt-master is also hosted with AWS
    #     public_ips - The salt-master is hosted outside of AWS
    #
    ssh_interface: private_ips

    # Set the AWS access credentials (see below)
    #
    id: {{ pillar['AWS_ACCESS_KEY_ID'] }}
    key: {{ pillar['AWS_SECRET_ACCESS_KEY'] }}

    # Make sure this key is owned by root with permissions 0400.
    #
    private_key: /vagrant/salt/kstaken-dev.pem
    keyname: kstaken-dev
    securitygroup: default

    # Optionally configure default region
    #
    location: us-east-1
    availability_zone: us-east-1e

    # Configure which user to use to run the deploy script. This setting is
    # dependent upon the AMI that is used to deploy. It is usually safer to
    # configure this individually in a profile, than globally. Typical users
    # are:
    #
    # Amazon Linux -> ec2-user
    # RHEL         -> ec2-user
    # CentOS       -> ec2-user
    # Ubuntu       -> ubuntu
    #
    ssh_username: ubuntu

    provider: ec2
